@mixin transition {
    transition: all .4s;
    transition-timing-function: cubic-bezier(.92,.13,.5,.85);
}

@mixin onselection {
    &::selection {
        background: rgba($color: #1f5215, $alpha: .5);
    }
}