* {
  font-size: 62.5%; }

body {
  height: auto;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.global-container {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative; }

.middle-container {
  margin: auto;
  width: 50rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }

.bookmark-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.inputbox {
  cursor: default;
  width: 50rem;
  height: 5rem;
  text-align: center;
  text-transform: lowercase;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: .1rem;
  transition: all .4s;
  transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
  .inputbox::selection {
    background: rgba(31, 82, 21, 0.5); }
  .inputbox-button {
    display: none; }
  .inputbox::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .inputbox:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8); }
  .inputbox:focus {
    outline: none;
    transition: all .4s;
    transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
    .inputbox:focus::placeholder {
      color: transparent; }

.bookmark {
  cursor: default;
  padding: 5rem 7rem;
  opacity: .5;
  transition: all .4s;
  transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
  .bookmark:hover {
    cursor: default;
    opacity: .8;
    transform: scale(1.03); }
  .bookmark a {
    cursor: default; }
    .bookmark a:hover {
      cursor: default; }
  .bookmark img::selection {
    background: rgba(31, 82, 21, 0.5); }

.sidebar {
  width: 35rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-35rem);
  transition: all .4s;
  transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
  .sidebar-arrow {
    position: absolute;
    margin-top: 2rem;
    margin-left: 6rem;
    width: 5rem;
    align-self: flex-end;
    opacity: .7;
    transition: all .4s;
    transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
    .sidebar-arrow:hover {
      opacity: 1; }
    .sidebar-arrow img {
      width: 5rem;
      transform: rotate(-90deg);
      transition: all .4s;
      transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
      .sidebar-arrow img::selection {
        background: rgba(31, 82, 21, 0.5); }
  .sidebar-list {
    align-self: center; }
    .sidebar-list--element {
      color: rgba(255, 255, 255, 0.5);
      font-size: 3rem;
      padding: 3rem;
      opacity: 0;
      transition: all .4s;
      transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
      .sidebar-list--element::selection {
        background: rgba(31, 82, 21, 0.5); }
      .sidebar-list--element:first-child {
        padding-top: 10rem; }
      .sidebar-list--element:hover {
        cursor: default; }

.clock {
  color: rgba(255, 255, 255, 0.5);
  font-size: 7rem;
  padding-bottom: 3rem;
  font-weight: 300; }
  .clock::selection {
    background: rgba(31, 82, 21, 0.5); }
  .clock:hover {
    cursor: default; }

.date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  padding-bottom: 5rem;
  font-weight: 300;
  text-transform: lowercase; }
  .date::selection {
    background: rgba(31, 82, 21, 0.5); }
  .date:hover {
    cursor: default; }

.backgroundbox {
  margin-top: 40rem;
  cursor: default;
  width: 30rem;
  height: 3rem;
  text-align: center;
  text-transform: lowercase;
  align-self: center;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: .1rem;
  transition: all .4s;
  transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
  .backgroundbox::selection {
    background: rgba(31, 82, 21, 0.5); }
  .backgroundbox-form {
    align-self: center; }
  .backgroundbox::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .backgroundbox:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8); }
  .backgroundbox:focus {
    outline: none;
    transition: all .4s;
    transition-timing-function: cubic-bezier(0.92, 0.13, 0.5, 0.85); }
    .backgroundbox:focus::placeholder {
      color: transparent; }
