.todolist {
    margin-top: 5rem;
    
    cursor: default;
    width: 100%;
    height: 3rem;
    text-align: center;
    text-transform: lowercase;

    align-self: center;
    
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    color: $grey-light;
    background-color: rgba($color: #000000, $alpha: .2);
    border-style: solid;
    border-color: $grey-light;
    border-width: .1rem;
    @include transition;

    @include onselection;

    &-form {
        align-self: center;
    }
    
    &-button {
        display: none;
    }
    
    &::placeholder {
        color: $grey-light;
    }
    
    &:hover {
        cursor: default;
        color: rgba($color: #fff, $alpha: .8);
        border-color: rgba($color: #fff, $alpha: .8);
    }

    &:focus {
        outline:none;
        @include transition;

        &::placeholder {
            color: transparent;
        }
    }
}